# Ingore HL files
*.pkg
*.bmp
*.htm
*.png
*.cfg
*.hlz
*.dtd
*.hl
*.xml
*.stock
*.db
GREP Backup/
Version Archives/
importbackup/
EMPTY FILES/

# Don't ignore these files
!*.user
!COM_*.stock

# This allows for including all the files for custom output
!customoutput/**/*.xml
!customoutput/**/*.xsl